.navbar, .one, .two, .three, .four, .five {
    background-color: navy;
    color: seashell;    
}

.one, .two, .three, .four, .five {
    border-radius: 15px;
    font-size: x-small;
}

.forecast-cards {
    font-size: small;
}